main {
  background-color: white;
}


.menuBar {
  overflow: hidden;
  padding: 0 20px;
  border-bottom: solid 1px #e8e8e8;
  background-color: white;
  box-shadow: 0 0 30px #f3f1f1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rightMenu {
  padding-right: 20px;
}

.logo {
  width: 150px;
  float: left;
  font-size: 20px;
}

.logo a {
  font-weight: 700;
  color: black;
  display: inline-block;
  font-size: 20px;
  padding: 19px 20px;
  text-transform: capitalize;
}

@media (max-width: 767px) {
  .logo a {
    margin-left: -10px;
    padding: 10px 20px;
  }

  .rightMenu {
    padding-right: 0px;
  }
}